
body {
  margin: 0;
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 485px;
  margin: 0;
  padding: 26px 0 0 0;
  margin-right: auto;
  list-style: none;
}

.user-navigation {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 26px 0 0 0;
  list-style: none;
}


.link-navigation {
  position: relative;
  display: block;
  font: inherit;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 10px 45px;
}

.link-navigation:hover {
  color: #fb565a;
}

.goods .link-navigation:not([href])::after {
  position: absolute;
  content:"";
  top: 33px;
  left: 1px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.basket {
  position: relative;
  margin: 0 0 10px 45px;
  padding: 0 0 0 40px;
}

.button {
  display: inline-block;
  padding: 17px 15px 15px 15px;
  min-width: 50px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.project-button1, .project-button2, .project-button3 {
  min-width: 130px;
}

.project-button2 {
  background-color: #00ca74;
}

.project-button2:hover {
  background-color: #00bc6c;
}

.project-button2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.project-button3 {
  background-color: #efc84a;
}

.project-button3:hover {
  background-color: #eab534;
}

.project-button3:active {
  background-color: #e5a722;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

.slider-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-header-page {
  margin: 0 0 26px 0;
}

.slider-paragraph {
  margin: 0 0 39px 0;
}

.slider-button {
  min-width: 210px;
}

.project-header {
  margin: 0 0 16px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.application-header {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.applications h3 {
  text-transform: uppercase;
}

.catolog h1 {
  font: inherit;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.form-header {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 11px;
}

.template-paragraph {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 16px;
}

.button-form {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
}

.button-form:hover {
  background-color: #dfdfdf;
}

.button-form:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.template-list {
  list-style: none;
  margin: 0 0 27px 0;
  list-style: none;
}

.filter-sort {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.text {
  color: rgba(0, 0, 0, 0.3);
}

.template {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.template-title {
  text-transform: uppercase;
}

.template-title:hover {
  color: #fb565a;
}

/* Сеточные стили */

html, body {
  min-width: 1200px;
  min-height: 2476px;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.main-header-logo {
  width: 160px;
  margin-right: 160px;
  display: block;
}

.goods .main-header-logo:hover {
  opacity: 0.8;
}

.goods .main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo img {
  fill: currentColor;
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  background-color: #eeeeee;
}

.slider {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 71px 640px 80px 0;
  background-repeat: no-repeat;
  background-position: 93% 100%;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 100% 100%;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 100% 100%;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.project {
  margin: 0 100px 64px 0;
  padding: 171px 0 0 0;
  width: 300px;
  list-style: none;
  background-repeat: no-repeat;
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project-illustration1 {
  background-image: url("../img/project-1.jpg");
}

.project-illustration2 {
  background-image: url("../img/project-2.jpg");
}

.project-illustration3 {
  background-image: url("../img/project-3.jpg");
}

.project-paragraph {
  margin: 0 0 32px 0;
  padding-right: 20px;
}

.applications {
  display: flex;
}

.applications-item1 {
  width: 665px;
  margin: 0 135px 0px 0;
  padding: 34px 0 49px;
}

.applications-item2 {
  width: 360px;
  margin: 0;
  padding: 0;
}

.application-header1 {
  margin: 0 0 33px 0;
  padding: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.application-header2 {
  margin-bottom: 60px;
  padding-left: 19px;
  font-size: 16px;
  font-weight: 700;
}

.application-paragraph {
  margin: 0 0 40px 0;
}

.application-header-list {
  margin: 0 0 23px 0;
  font-size: 16px;
}

.application-list {
  margin: 0;
  padding-left: 36px;
  list-style: none;
}

.application-list-item {
  margin: 0 0 24px 0;
  position: relative;
}

.application-list-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -35px;
  background-color: #fb565a;
}

.application-illustration {
  margin: 0 0 13px 0;
}

.application-descriptions {
  border-spacing: 0;
}

.descriptions-item-value {
  padding: 0px 12px 29px 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  color: #000;
}


.descriptions-item-percent {
  position: relative;
  top: -15px;
  left: -9px;
  font-size: 27px;
}

.descriptions-item-text {
  width: 33.33333%;
  padding: 0;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #283136;
}

.partners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
  padding-bottom: 32px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.partners-item {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  margin: 45px 0 83px 0;
}

.partners-item:nth-child(4n) {
  border: none;
}


.partners-link {
  position: absolute;
  opacity: 0.2;
}

.partners-link:hover,
.partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

.partners-logo1 {
  padding: 0px 0 0 31px;
  top: 18px;
  width: 280px;
  margin: 45px 0px 0 0;
}

.partners-logo1::after {
  position: absolute;
  content: "";
  right: -1px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.partners-logo2 {
  padding: 0px 0 0 46px;
  margin: 45px 0px 0 0;
}

.partners-logo2::after {
  position: absolute;
  content: "";
  top: 19px;
  right: -11px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.partners-logo3 {
  padding: 20px 0 0 67px;
}

.partners-logo3::after {
  position: absolute;
  content: "";
  top: 19px;
  right: -21px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.partners-logo4 {
  position: absolute;
  left: 944px;
  top: 7px;
}

.contacts {
  position: relative;
  margin: 0 0 120px 0;
  padding: 37px 0 0 0;
}

.contacts-inner {
  position: relative;
  width: 270px;
  background-color: #ffffff;
  padding: 30px 0px 50px 50px;
  z-index: 3;
}

.contacts-illustration {
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.contacts iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  border: none;
}


.contacts-header {
  margin-bottom: 23px;
  font-family: inherit;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.contacts-address {
  margin-bottom: 18px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.contacts-button {
  margin-top: 22px;
  min-width: 189px;
}

.contacts-phone {
  display: block;
  margin-bottom: 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.social-network {
  display: flex;
  padding-bottom: 50px;
}

.social-network-list {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 130px 0 0;
  padding: 0;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 78px;
  margin: 0 10px 12px 0;
  color: #ffffff;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-network-link:hover {
  background-color: #e74246;
}

.social-network-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.social-network-link svg {
  fill: currentColor;
}

.social-network-info {
  width: 760px;
}

.social-network-info1 {
  width: 100%;
  margin: 0 0 10px 0;
  padding-top: 6px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-network-info2 {
  margin: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  display: none;
  background-color: #ffffff;
  background-image: url("../img/white-back-modal.png");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 10px 20px 30px 20px rgba(0, 0, 0, 0.5);
}

.modal-login {
  top: 0;
  left: 50%;
  width: 860px;
  margin-left: -481px;
  padding: 32px 0 83px 101px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
  z-index: 4;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 87px;
  width: 23px;
  height: 23px;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  width: 26px;
  height: 4px;
  background-color: #dd1616;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback {
  display: flex;
  flex-wrap: wrap;
}

.modal-header {
  font-family: inherit;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 22px;
}

.modal-info {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
}

.modal-input {
  width: 344px;
  height: 45px;
  padding-left: 12px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.modal-mail .modal-input {
  width: 742px;
  height: 99px;
  margin-bottom: 23px;
  padding-top: 12px;
}

.modal-button {
  min-width: 260px;
}

.catalog-header {
  margin-bottom: 58px;
  padding: 71px 5px 108px 0;
  background-color: #eeeeee;
}

.catalog-header-inner {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.page-catalog {
  display: flex;
  margin-bottom: 50px;

}

.form-catolog {
  width: 260px;
  margin: 0 140px 0  0;
}

.form-result {
  width: 760px;
  margin: 0 0 0 0;
}

.sorting-result {
  display: flex;
  margin: -5px 0 48px 0;
}

.result-list-type {
  display: flex;
  flex-wrap: wrap;
}

.result-list-order {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 40px;
  margin-bottom: 57px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.form-grid {
  margin: 0 0 30px;
  padding: 0;
  border: none;
}

.form-grid-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-properties {
  margin: 0 0 34px;
  padding: 0;
  border: none;
}

.form-properties-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin: 0 0 0 15px;
  padding: 3px 0 13px 22px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.button-form {
  min-width: 260px;
  color: black;
}

.result-list-type {
  margin: 0;
  padding: 4px 0 0 0;
  list-style: none;
}

.sorting-result .form-header {
  margin: 0 273px 0 0;
  padding: 0;
}

.filter-sort {
  margin-right: 27px;
  text-transform: uppercase;
}

.filter-sort-order::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 19px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-sort-order::after {
  position: absolute;
  content: "";
  top: -6px;
  left: 47px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-goods {
  position: relative;
  padding-top: 41px;
}

.template-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.template-list-item {
  display: block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 25px;
}

.template-list-item:nth-child(2n) {
  margin-right: 0;
}

.template-list-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 1px;
  left: 0;
  background-color: #eeeeee;
  border-radius: 3px 3px 0 0;
}

.template-list-item::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 14px;
  left: 16px;
  background-color: #ffffff;
  box-shadow: 48px 0 0 #ffffff, 24px 0 0 #ffffff;
  border-radius: 50%;
}

.template-list-item:hover::before {
  background-color: #555555;
}

.template-info {
  display: none;
}

.template-info {
  position: absolute;
  bottom: 9px;
  left: 0px;
  width: 290px;
  text-align: center;
  padding: 32px 34px 36px 35px;
  background-color: #eeeeee;
  max-height: 576px;
  overflow-y: auto;
}

.template-list-item:hover .template-info {
  display: block;
}

.template-list-item:focus-within .template-info {
  display: block;
}

.template-header {
  margin: 0 0 0 0;
}

.template-button {
  margin: 14px 0 5px 0;
  min-width: 200px;
  padding: 16px 0 15px 0;
}

.page-number-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-number-item {
  box-sizing: border-box;
  min-width: 50px;
  margin: 0 11px 10px 0;
  color: #000;
  background-color: #eeeeee;
}

.page-number-item:hover {
  background-color: #dfdfdf;
}

.page-number-item:active {
  background-color: #d5d5d5;
}
.page-number-item:not([href]),
.page-number-item:not([href]):active,
.page-number-item:not([href]):hover {
  padding: 14px 5px 12px;
  color: inherit;
  background-color: #fff;
  border: 3px solid #eeeeee;
  box-shadow: none;
}

.page-button-next {
  width: 260px;
}

.contacts iframe {
  width: 100%;
  height: 416px;
}

.clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}
