body {
    margin: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;

}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    font: inherit;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
}

.main-navigation a:hover {
    color: #fb565a;
}

.button {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
    border:none;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;

    color: rgba(255, 255, 255, 0.3);
}

.button-green{
    font: inherit;
    color: #ffffff;

    background-color: #00ca74;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;

    color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  font: inherit;
  color: #ffffff;

  background-color: #efc84a;

}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;

  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
}

.features-list {
    list-style: none;
}

.features-list h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.projects {
    list-style: none;
}

.project h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.application-header {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.applications h3 {
    text-transform: uppercase;
}

.foot-head {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.catolog h1 {
    font:inherit;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.form-header,
.form-item p {
    font:inherit;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.button-form {
    font:inherit;
    font-size:16px;
    line-height: 18px;
    font-weight: 500;

    background-color: #eeeeee;
    border:none;
}

.button-form:hover {
    background-color: #dfdfdf;
}

.button-form:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}


.form-item ul {
    list-style: none;
    text-transform: uppercase;
}

.filter-sort {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.text {
  color: rgba(0, 0, 0, 0.3);
}

.template-list {
    list-style: none;
}

.template {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.template-title:hover {
    color: #fb565a;
}




